
* {
    background-color:#D5B78B;
    margin: 0px;
    padding: 0px;
    
  }
  
  header {
    text-align:center;
    margin: 15px;
    padding: 20px;   
  }
  header > h1 {
    font-family: 'Berkshire Swash', sans-serif;
  }
  
  .Generate-Area {
    position:relative;
    margin: 100px 35px;
    text-align:center;
  }
  .table-checkbox-group {
    font-family: 'abel', sans serif;
  }
  .table-checkbox-group > h2 {
    padding-bottom: 30px
  }
  .table-checkbox-group > p {
    padding-bottom: 30px
  }
  .table-checkbox-label {
    font-family: 'Berkshire Swash', sans serif;
    
  }
  .table-checkboxes {
    padding-bottom: 20px;
    margin-right: 3px;
  }
  #Num-Input {
    padding:5px;
    margin:5px;
    background-color:#EDEFF0;
    width: 50px;
  }
  #Table-Submit {
    padding: 5px 5px;
    margin: 15px 15px;
    background-color:#FFD700;
  }
  
  
  